{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Configuration</h1>
   </div>
</div>

<div class="col-lg-6 col-md-12 col-sm-12">
  <div class="row"><!-- Set temperature -->
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Temprature Setpoint</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              Current Setpoint: {{ setpoint }}<br><p>
              <form role="form" action="/config" method="POST">

                <input type="hidden" name="returnTo" value="config">

                <select name="temperature" class="form-control">
                  <option value=0 selected>0</option>
                  <option value=30>30</option>
                  <option value=40>40</option>
                  <option value=50>50</option>
                  <option value=60>60</option>
                  <option value=70>70</option>
                  <option value=75>75</option>
                  <option value=80>80</option>
                  <option value=85>85</option>
                  <option value=90>90</option>
                  <option value=95>95</option>
                  <option value=100>100</option>
                  <option value=110>110</option>
                  <option value=120>120</option>
                </select>

                <br><button type="submit" name="action" value="Temperature" class="btn btn-success">Set</button>

                <br><br>Quick sets<br>
                <button type="submit" name="action" value="Temperature0" class="btn btn-success">0</button>
                <button type="submit" name="action" value="Temperature70" class="btn btn-success">70</button>
                <button type="submit" name="action" value="Temperature80" class="btn btn-success">80</button>
                <button type="submit" name="action" value="Temperature90" class="btn btn-success">90</button>
                <button type="submit" name="action" value="Temperature100" class="btn btn-success">100</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Set temperature -->

<div class="row"><!-- List processes -->
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Processes</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Function</th>
							<th>Running</th>
							<th>Process Id</th>
						</tr>
					</thead>
					<tbody>
                                                <tr>
							<td>Input</td>
							<td>{{ processes['input']['status'] }}</td>
							<td>{{ processes['input']['pid'] }}</td>
                                                </tr>
                                                <tr>
							<td>Control</td>
							<td>{{ processes['control']['status'] }}</td>
							<td>{{ processes['control']['pid'] }}</td>
                                                </tr>
                                                <tr>
							<td>Output</td>
							<td>{{ processes['output']['status'] }}</td>
							<td>{{ processes['output']['pid'] }}</td>
                                                </tr>
					</tbody>
				</table>
                          </div>

                          <!-- Only visible if logged in -->
                          {% if isAuthenticated %}
                          {% endif %}
                          Start/stop processes:
                          <form role="form" action="/config" method="POST">
                            <input type="submit" name="action" value="Start" class="btn btn-success">
                            <input type="submit" name="action" value="Stop" class="btn btn-danger">
                          </form>

			</div>
		</div>
	</div>
</div>

<div class="row"><!-- List of Devices -->
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Devices</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Device path</th>
                <th>Alias</th>
              </tr>
            </thead>
            <tbody>
              {% for device in devices %}
              <tr>
                <td> {{ device['devicepath'] }} </td>
                <td> {{ device['alias'] }} </td>
              </tr>
              {% endfor %}
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
</div>

<div class="row"><!-- List of Logging -->
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Logging available</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Script</th>
                <th>Type</th>
                <th>Active</th>
                <th>Info</th>
              </tr>
            </thead>
            <tbody>
              {% for logscript in logscripts %}
              <tr>
                <td> {{ logscript['name'] }} </td>
                <td> Log script</td>
                <td> {% if logscript['enabled'] %} Yes {% else %} No {% endif %} </td>
                <td> {{ logscript['info'] }} </td>
              </tr>
              {% endfor %}
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
</div>

  <div class="row"><!-- Upgrade (git pull) -->
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Upgrade software</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              Upgrade from git:<br><p>
              <form role="form" action="/config" method="POST">
                <button type="submit" name="action" value="git-pull" class="btn btn-success">Git pull</button>
              </form>
              {% if gitresult['changed'] %}
              Result:<br><p>
              <div class="well">
                {{ gitresult['output'] }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Set temperature -->

</div>

{% endblock %}
