{% macro graphBox(curPlotConfig) %}
     <div id=graphdiv-{{curPlotConfig['plotgroup']}}-{{curPlotConfig['timespan']}} class="col-lg-{{ curPlotConfig['size'] }} graphItem " {% if isAuthenticated %}draggable="true"{% endif%}>
                <div class="panel panel-default arne-dase"><div id="bar-{{curPlotConfig['plotgroup']}}-{{curPlotConfig['timespan']}}" class="panel-heading" ><i class="fa fa-bar-chart-o fa-fw "></i> {{ curPlotConfig['plotgroup']}}-{{curPlotConfig['timespan']}}

                           <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/graph/{{curPlotConfig['plotgroup']}}">Show {{curPlotConfig['plotgroup']}} graphs</a> </li>
                                        <li><a href="/graph/{{curPlotConfig['plotgroup']}}/{{curPlotConfig['timespan']}}">Show {{curPlotConfig['plotgroup']}}-{{curPlotConfig['timespan']}} graph</a> </li>
                                        <li><a href="/cache/sensorData.{{curPlotConfig['plotgroup']}}.{{curPlotConfig['timespan']}}.json">Show JSON data source</a> </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Edit this graph</a> </li>
                                    </ul>
                                </div>
                            </div>

                </div>
                <div id="{{ curPlotConfig['plotgroup']}}-{{ curPlotConfig['timespan']}}" margin: 0 auto" class="large-{{ curPlotConfig['size'] }} small-{{ curPlotConfig['size'] }} "></div>
                </div>
  </div>
{% endmacro %}

