{% macro graphBox(curPlotConfig) %}
     <div id=graphdiv-{{curPlotConfig['plotgroup']}}-{{curPlotConfig['timespan']}} class="col-lg-{{ curPlotConfig['size'] }} graphItem " {% if isAuthenticated %}draggable="true"{% endif%}>
                <div class="panel panel-default arne-dase"><div id="bar-{{curPlotConfig['plotgroup']}}-{{curPlotConfig['timespan']}}" class="panel-heading" ><i class="fa fa-bar-chart-o fa-fw "></i> {{ curPlotConfig['plotgroup']}}-{{curPlotConfig['timespan']}}

                           <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/graph/{{curPlotConfig['plotgroup']}}">Show {{curPlotConfig['plotgroup']}} graphs</a> </li>
                                        <li><a href="/graph/{{curPlotConfig['plotgroup']}}/{{curPlotConfig['timespan']}}">Show {{curPlotConfig['plotgroup']}}-{{curPlotConfig['timespan']}} graph</a> </li>
                                        <li><a href="/cache/sensorData.{{curPlotConfig['plotgroup']}}.{{curPlotConfig['timespan']}}.json">Show JSON data source</a> </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Edit this graph</a> </li>
                                    </ul>
                                </div>
                            </div>

                </div>
                <div id="{{ curPlotConfig['plotgroup']}}-{{ curPlotConfig['timespan']}}" margin: 0 auto" class="large-{{ curPlotConfig['size'] }} small-{{ curPlotConfig['size'] }} "></div>
                </div>
  </div>
{% endmacro %}

{% macro scriptAvailableBox(type, scripts) %}
<div class="row"><!-- List of {{type}} -->
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{type}} available</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Script</th>
                <th>Type</th>
                <th>Active</th>
                <th>Info</th>
              </tr>
            </thead>
            <tbody>
              {% for script in scripts %}
              <tr>
                <td> {{ script['name'] }} </td>
                <td> {{type}} script</td>
                <td> {% if script['enabled'] %} Yes {% else %} No {% endif %} </td>
                <td> {{ script['info'] }} </td>
              </tr>
              {% endfor %}
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
</div>

{% endmacro %}
